@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    border:1px solid whitesmoke;
}

.editbtn {
    max-width: 118px;
}

.lobster {
     font-family: 'Lobster', cursive;
}

